* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

body {
    font-family: 'Roboto', sans-serif;
    /*background:#C9C9C9;*/
    background-color: white;
}

.wrapper {
    max-width: 1170px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.main {
    /*color: rgb(30, 44, 77);*/
    color: #1E1E1E;
}

.intro {
    text-align: center;
    position: relative;
    padding-top: 70px;
    margin-bottom: 50px;
}

.intro__second-title {
    width: 220px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto 15px;
}

.intro__description {
    font-size: 18px;
    font-weight: bold;
}

.slider {
    margin-bottom: 40px;
}

.slider__control {
    display: flex;
    width: 517px;
    justify-content: space-between;
    text-align: center;
    font-size: 24px;
    position: relative;

    margin: 0 auto 35px;
}

.slider_control-button {
    background-color: #C9C9C9;
    color: rgb(231, 234, 237);
    width: 59px;
    height: 59px;
    cursor: pointer;
    transition: .3s;
    padding-top: 15px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.slider_control-button--active {
    background-color: #A65353;
    color: white;
}

.slider__control-canvas {}

.slider__container {
    animation: ease-in-out 1s;
    -webkit-animation: ease-in-out 1s;
}

.slider__infoitems-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.slider__slider-item {
    /*width: 353px;
    height: 165px;*/
    width: 37%;
    height: 37%;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 40px -12px black;
    cursor: pointer;
    padding: 25px;
    margin-bottom: 20px;

    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.slider__slider-item:hover {
    outline: 3px solid #A65353;
}

.slider__slider-item--selected {
    background-color: #A65353;
    color: white;
}

.slider-item__title {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 14px;
}

.slider-item__description {
    color: #BFBFBF;
    font-size: 14px;
    margin-bottom: 11px;
}

.slider-item__phone {
    color: #BFBFBF;
    font-size: 14px;
}

.slider__table-control {
    display: flex;
    justify-content: center;
    color: rgb(21, 45, 75);
    font-size: 16px;
    margin-bottom: 20px;
}

.table-control__button {
    font-size: 16px;
    width: 110px;
    height: 43px;
    border: none;
    background-color: transparent;
    margin-right: 10px;
    cursor: pointer;
    color: #1E1E1E;

    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
}

.table-control__button:hover {
    background: #231217;
    color: #939393;
}

.table-control__button--active {
    background-color: #231217;
}

.slider__table {
    
}

.slider-table__data {
    position: relative;
    width: 162px;
    height: 100px;
    background-color: #BFBFBF;
    padding: 12px;
    z-index: 1;
    font-size: 29px;

    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.slider-table__data:not(.dayNameCell):hover {
    cursor: pointer;
    background-color: transparent;
}

.slider-table__data--selected {
    background-color: #A65353 !important;
    color: white;
}

.dayNameCell {
    height: 55px;
    border: none;
    background-color: transparent;
    border-collapse: collapse;
    font-size: 20px;
    text-transform: capitalize;
    background-color: #A65353;
    color: white;
}

.slider-table__row:first-child {
    border-collapse: collapse;
}

/*.slider-table__day {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 26px;
}

.slider-table__date {
    margin-bottom: auto;
}*/

.slider__form {
    width: 435px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}

.table-popup-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 565px;
    width: 100%;
    margin: 0 auto;
}

.table-popup-list__item {
    padding: 10px 20px;
    margin: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 22px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.table-popup-list__item--selected {
    color: white;
    background-color: #A65353;
}

.table-popup-list__item:hover {
    outline: 2px solid #A65353;
    outline-offset: -2px;
    /*Box-shadow:0px 0px 0px 2px #A65353;*/

}

.form__input {
    width: 100%;
    height: 55px;
    padding-left: 20px;
    padding-right: 10px;
    border: none;
    margin-bottom: 30px;
    font-size: 18px;
    background-color: #BFBFBF;
}

.form__input--button {
    color: white;
    background-color: #A65353;
    cursor: pointer;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}

.form__input--button:hover {
    opacity: 0.8;
}

.slider__description {
    margin-bottom: 30px;
    text-align: center;
    font-size: 22px;
}

.footer {

}

.footer__decorative-element {
    height: 2px;
    width: 100%;
    background-color: #2C2C2C;

    margin-bottom: 10px;
}

.footer__user-information {
    text-align: justify;
    font-size: 16px;
    line-height: 26px;

    margin-bottom: 26px;
}

.foooter__contacts-container {
    font-size: 14px;
    line-height: 16px;

    margin-bottom: 40px;
}

.popup-wrapper {
    width: 100%;
    position: fixed;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.3)
}

.form__popup {
    width: 40%;
    height: 30%;
    position: fixed;
    top: 30%;
    left: 30%;
    background-color: rgb(128, 63, 63);

    z-index: 10;
}

.popup__text {
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 30px;
}

.popup__button {
    display: block;
    border: none;
    background-color: rgb(226, 88, 88);
    width: 40%;
    height: 20%;
    margin: 0 auto;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
}

@media(max-width: 780px) {
    .slider__control {
        width: 70%;
    }

    .slider__infoitems-wrapper {
        flex-direction: column;
    }

    .slider__slider-item {
        padding-top: 40px;
        width: 100%;
    }

    .slider-table__data {
        font-size: 24px;
    }

    @media (max-width: 680px) {
        .slider__table {
            width: 100%;
            position: relative;
            left: 0;
        }

        .slider-table__data {
            height: 14%;
            width: 14%;
        }

        @media(max-width: 520px) {
            .slider__form {
                width: 100%;
            }

            .slider__table {
                
            }

            .slider-table__data {
                font-size: 23px;
                padding: 5px;
                padding-left: 11px;
            }

            .slider_control-button {
                width: 45px;
                height: 45px;
                font-size: 18px;
                padding-top: 12px;
            }

            .popup__text {
                font-size: 14px;
            }

            @media(max-width: 390px) {
                .slider-table__data {
                    font-size: 17px;
                    
                }
                .popup__text {
                    font-size: 11px;
                    padding-top: 40px;
                }

                .form__popup {
                    height: 28%;
                }
            }
        }
    }
}
